<div class="container"> 


        <label for="Subject">Category</label>
        <div class="form-group">
            <p-dropdown [options]="cities1" [(ngModel)]="cat"></p-dropdown>
        </div>

        <div class="form-group">
          <label for="Subject">Subject</label>
          <input type="text" class="form-control" id="name"  [(ngModel)]="subject" required>
        </div>
    
        <div class="form-group">
            <label for="Subject">Description</label>
           <span class="ui-float-label">
                <textarea [rows]="5" [cols]="30" pInputTextarea autoResize="autoResize" [(ngModel)]="description" ></textarea>
            </span> 
        </div>



   <!--      <div class="form-group">
            <p-dropdown [options]="cities2" [(ngModel)]="selectedCity2" optionLabel="name"></p-dropdown>
        </div> 

        <div class="form-group">
            <span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText> 
                <label for="float-input">Add Type</label>
            </span>
        </div>  -->
    
        <button pButton type="button" label="Submit" (click)="submitAdd()" ></button>


</div>
